@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Great+Vibes&display=swap');

html, body {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Dosis', sans-serif;
}

header {
    height: 100%;
    background: url(/images/background.jpg) no-repeat center center / cover;
    display: flex;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
}

header h2 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 300;
    margin: 0;
}

header .heart {
    background: url(/heart.png) no-repeat center center / cover;
    width: 570px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 99;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.grid {
    position: relative;
    height: 2111.78px;
    max-width: calc(100% - 60px);
    margin: auto;
    margin-top: 45px;
}

.grid-item { 
    margin-bottom: 30px;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    cursor: zoom-in;
}

.grid-item img {
    height: auto;
    max-width: 100%;
    border-radius: 6px;
}

@media (max-width: 720px) {
    .grid {
        max-width: calc(100% - 20px);
        margin-top: 25px;
    }

    .grid-item {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E5714E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E5714E;
}